body {
    padding: 2%;

}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

#mainForm {
    padding: 3%;
    width: 50%;
}

#descrption {
    text-align: center;
    width: 50%;
    white-space: pre-wrap;
}

#bottomText {
    text-align: center;
}