body {
    padding: 2%;
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

#mainForm {
    padding-left: 3%;
    padding-right: 3%;    
    width: 50%;
}

.languageChange,.ant-dropdown {
    padding-left: 3%;
}

.divider2{
    margin-top: 0;
}


#descrption {
    text-align: center;
    width: 50%;
    white-space: pre-wrap;
}

#bottomText {
    text-align: center;
}

.checked{
    color: #1677ff !important;
}