body {
    padding: 2%;
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

#mainForm {
    padding-left: 8%;
    padding-right: 8%;    
    width: 70%;
}

.languageChange,.ant-dropdown {
    padding-left: 8%;
}

.divider2{
    margin-top: 0;
}


#descrption {
    padding-right: 8%;
    width: 30%;
    white-space: pre-wrap;
}

#bottomText {
    text-align: center;
}

.checked{
    color: #1677ff !important;
}